.side-bar-link {
  color: white;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding: 0.3em 1.2em;
}

.side_bar-link {
  padding: 0.5em;
  opacity: 0.8;
}

.side_bar-link-text {
  font-family: 'Montserrat';
  letter-spacing: 1px;
  font-size: 0.8em;
  color: #121420;
  opacity: 1;
}

.section-divider {
  min-height: 2px;
  max-height: 2px;
  border-radius: 100px;
  margin: 0em 2em;
  background-color: #121420;
  opacity: 0.1;
}

.sidebar-link-icon {
  color: #121420;
  padding-right: 0.9em;
}

.active {
  background-color: #12142034;
}
