.input {
  padding-left: 10px;
  padding-right: 10px;
}

.form_control {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

.rounded-input {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
}

.input-label {
  font-family: 'Geosands';
  font-weight: 700;
  color: #dc5329;
  opacity: 0.5;
}
