.input {
  padding-left: 10px;
  padding-right: 10px;
}

.form_control {
  font-size: 0.8rem;
  border-radius: 10rem;
  border-color: white;
  padding: 1.5rem 1rem;
}

.rounded-input {
  font-size: 0.8rem;
  border-radius: 10rem;
  border-color: white;
  padding: 0.5rem 1rem;
}
