.side-drawer {
  background-color: #121420;
  opacity: 0.6;
  min-height: 88vh;
  border-radius: 5px;
  border-color: #121420;
  box-shadow: 3px 3px 14px black;
  /* box-shadow: 0 8px 16px 0 #0000001a, 0 6px 20px 0 #00000011; */
}
