.section-name {
  padding-top: 1em;
  color: white;
  font-family: 'Geosands';
  letter-spacing: 2px;
  opacity: 0.8;
  font-size: 1em;
  font-weight: 700;
}

.section-icon {
  padding-right: 10px;
}
