.section-name {
  color: #121420;
  font-family: 'Montserrat';
  letter-spacing: 1px;
  opacity: 0.8;
  font-size: 0.9em;
  font-weight: 700;
  padding: 1em;
}

.section-icon {
  padding-right: 10px;
}
