.navbar {
  background-color: #ffffff;
  box-shadow: 0 0 4px #32323254;
  padding-left: 3rem;
  padding-right: 3rem;
}
.navbar-brand {
  min-height: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #121420;
}

.navbar-light .navbar-toggler {
  background-color: white;
}
