body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Geosands';
  src: url('./utils/fonts/geo-sans-light/GeosansLight.ttf');
}

@font-face {
  font-family: 'Minimal';
  src: url('./utils/fonts/minimal/Minimal.ttf');
}

@font-face {
  font-family: 'RoundedElegancy';
  src: url('./utils/fonts/rounded-elegance/Rounded Elegance.ttf');
}

@font-face {
  font-family: 'Caviar Dream';
  src: url('./utils/fonts/caviar-dreams/CaviarDreams.ttf');
}

@font-face {
  font-family: 'Caviar Dream Bold';
  src: url('./utils/fonts/caviar-dreams/Caviar Dreams Bold.ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
