body {
  background-color: #f8f9fc;
}

.signup-section .col-sm {
  padding: 0;
}

.input-container {
  height: 200px;
  padding: 0px;
  background-color: #6699cc;
}

.form-section {
  background-color: #121420;
}

.bg-register-image {
  background: url('https://source.unsplash.com/TNMgD281040/600x800');
  background-position: center;
  border-radius: 10px;
  background-size: cover;
}

.page-wrapper {
  margin-top: 4rem;
  padding: 3em;
}

.user-form {
  color: #121420;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 #0000001a, 0 6px 20px 0 #00000011;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #dc5349;
  outline: 0;
  box-shadow: 0 0 6px 0rem #dc5349;
}
.form-control {
  opacity: 0.5;
  border: 1px solid #dc5349;
}

.user-form .col-lg-7 {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#register-big-text {
  font-family: 'Geosands';
  color: #dc5349;
  opacity: 0.6;
  font-size: 4em;
}
