body {
  background-color: #121420;
}

.signup-section .col-sm {
  padding: 0;
}

.input-container {
  height: 200px;
  padding: 0px;
  background-color: #6699cc;
}

.form-section {
  background-color: #121420;
}

.sign-up-btn {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1rem 1rem;
}

.bg-register-image {
  background: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800');
  background-position: center;
  background-size: cover;
}

.user-form {
  background-color: white;
}

.user-form .col-lg-7 {
  padding: 3rem;
}
