body {
  background-color: white;
}

.signup-section .col-sm {
  padding: 0;
}

.input-container {
  height: 200px;
  padding: 0px;
  background-color: #6699cc;
}

.form-section {
  background-color: #121420;
}

.sign-up-btn {
  font-size: 0.8rem;
  border-radius: 10rem;
}

.bg-register-image {
  background: url('https://source.unsplash.com/2D9PMRTJL2M/600x800');
  background-position: center;
  background-size: cover;
}
.user-form-container {
  margin-bottom: 3rem;
  margin-top: 4rem;
}
.user-form {
  color: white;
  background-color: #121420;
}

.user-form .col-lg-7 {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
